@layer components {
  header {
    height: 9.75rem;
    width: 100%;
    background-color: var(--colors-green-400);
    background-image: url("../images/bg-header-mobile.svg");
    background-size: cover;
  }

  @media (min-width: 768px) {
    header {
      background-image: url("../images/bg-header-desktop.svg");
    }
  }

  main {
    margin-top: 2rem;
  }

  main article {
    max-width: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--colors-white);
    padding: var(--spacing-300);
    padding-top: 0;
    position: relative;
    border-radius: 5px;
    margin-bottom: var(--spacing-200);
    margin-top: var(--spacing-500);
    box-shadow: 0 4px 24px rgba(13, 113, 130, 0.1),
      0 1.5px 6px rgba(0, 0, 0, 0.04);
  }

  main article .job-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  main article .job-info .company-logo {
    position: absolute;
    top: -24px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid #eee;
    width: 48px;
    height: 48px;
  }

  main article .job-info .job-details {
    margin-top: var(--spacing-500);
    display: inherit;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  main article .job-title-container h1 {
    color: var(--colors-green-400);
  }

  main article .job-info .job-details .job-title-container {
    display: flex;
    gap: var(--spacing-200);
  }

  main article .job-meta-container ul {
    list-style-type: none;
    display: flex;
    gap: var(--spacing-100);
    color: var(--colors-gray-400);
  }

  main article .job-meta-container ul li::after {
    content: "•";
    margin-left: var(--spacing-100);
  }

  main article .job-meta-container ul li:last-of-type::after {
    content: "";
  }

  main article .job-info .job-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-100);
  }

  main article .job-info .job-tags span {
    flex: 1 1 30%;
    max-width: calc(33.333% - var(--spacing-100));
    box-sizing: border-box;
    padding: var(--spacing-100) var(--spacing-200);
    background-color: var(--colors-green-50);
    color: var(--colors-green-400);
    margin-bottom: var(--spacing-100);
  }

  main article .job-info .job-tags span a {
    text-decoration: none;
    color: inherit;
  }

  footer {
    text-align: center;
    align-items: center;
    padding: 0.3rem;
    width: 100%;
  }

  .featured-left-border {
    border-left: 5px solid var(--colors-green-400);
  }

  .footer-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #333;
    text-decoration: none;
  }

  .footer-icon {
    font-size: 1.2rem;
  }

  @media (min-width: 768px) {
    main {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-500);
      justify-content: center;
      align-items: flex-start;
    }

    main article {
      flex: 1 1 320px;
      max-width: 350px;
      margin: 0;
    }
  }

  @media (min-width: 1200px) {
    header {
      margin-bottom: 4.75rem;
    }
    main {
      margin-top: 0;
      display: block;
      gap: 0;
      justify-content: unset;
      align-items: unset;
      width: 90%;
    }

    main article {
      flex: unset;
      max-width: 1100px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--spacing-200);
      padding: var(--spacing-300);
      padding-left: var(--spacing-500);
    }

    main article .job-info .company-logo {
      position: relative;
      top: auto;
      width: auto;
      height: auto;
    }

    main article .job-info {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    main article .job-info .job-tags span {
      flex: unset;
    }
  }
}
